.addlabel-main-text {
    align-self: stretch;
    position: relative;
    line-height: 28px;
    font-weight: 500;
}
.supporting-text {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    letter-spacing: -0.05em;
    line-height: 20px;
    color: rgba(235, 247, 251, 0.3);
}
.text-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
    font-size: 18px;
    color: #ebf7fb;
}
.input-label {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.input-text {
    flex: 1;
    position: relative;
    letter-spacing: -0.05em;
    line-height: 20px;
}
.input-content-area {
    width: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.input-container {
    width: 193px;
    border-radius: 8px 0px 0px 8px;
    background-color: #1a1a1a;
    border-top: 0.6px solid rgba(239, 239, 239, 0.2);
    border-bottom: 0.6px solid rgba(239, 239, 239, 0.2);
    border-left: 0.6px solid rgba(239, 239, 239, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 14px;
}
.color-circle {
    width: 20px;
    position: relative;
    border-radius: 50%;
    background-color: #91cd56;
    height: 20px;
}
.vuesaxlineararrow-down-icon {
    width: 16px;
    position: relative;
    height: 16px;
    opacity: 0.9;
}
.color-field-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.color-input-field {
    width: 64px;
    border-radius: 0px 8px 8px 0px;
    background-color: #1a1a1a;
    border-top: 0.6px solid rgba(239, 239, 239, 0.2);
    border-right: 0.6px solid rgba(239, 239, 239, 0.2);
    border-bottom: 0.6px solid rgba(239, 239, 239, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
}
.dynamic-input-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.plus-icon-container {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.add-label-button-frame {
    width: 36px;
    border-radius: 8px;
    border: 0.6px solid #3e43fb;
    box-sizing: border-box;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.selection-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    color: rgba(235, 247, 251, 0.2);
}
.input-area {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
}
.labels-input-area {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.available-labels-area {
    align-self: stretch;
    height: 22px;
}
.content-frame {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.cancel-button-text {
    position: relative;
    line-height: 20px;
    font-weight: 500;
    opacity: 0.8;
}
.cancel-button-base {
    border-radius: 8px;
    background-color: #1a1a1a;
    border: 0.6px solid rgba(239, 239, 239, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 18px;
}
.cancel-button-area {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.add-labels-button {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.add-labels-button-base {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    background-color: #3e43fb;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
}
.add-labels-button-area {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.action-buttons-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.add-labels-actions-section {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: #ebf7fb;
}
.new-label-popup {
    max-width: 329px;
    position: relative;
    border-radius: 12px;
    background-color: #1a1a1a;
    border: 0.6px solid rgba(239, 239, 239, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 24px;
    text-align: left;
    font-size: 14px;
    color: rgba(235, 247, 251, 0.9);
    font-family: 'Work Sans';
}

